#sidebar {
	width: 200px;
	float: left;
}

#posts {
	margin-left: 300px;
	box-sizing: border-box;
}

.category-list li {
	padding: 6px;
	margin: 0 0 0 14px;
	color: #1b75d5;
}

.post {
	margin: 50px 0;
}

.post h2 a {
	color: #1b75d5;
	text-decoration: none;
	font-size: 1.5em;
}

.post-date {
	color: #999;
	padding: 5px 0;
}

.post ul {
	margin: 25px 0;
	padding: 0 0 0 50px;
}

.post li {
	padding: 4px;
	list-style: disc;
}

#app-menu {
	display: none;
	padding: 0 60px 0 0;
	width: 40px;
	height: 40px;
	background: url(../images/app-menu.svg) no-repeat 100% 50%;
	float: right;
	margin: 0 10px 0 0;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	#app-menu {
		display: block;
	}

	.category-list {
		display:none;
		position: absolute;
		width: 100%;
		padding: 10px;
		background-color: #fff;
	}

	#sidebar {
		float: none;
		width: 100%;
	}

	#posts {
		margin-left: 0;
		clear: both;
	}
}