#sidebar {
	width: 200px;
	float: left;
}

#posts {
	margin-left: 300px;
	box-sizing: border-box;
}

.category-list li {
	padding: 6px;
	margin: 0 0 0 14px;
}

.category-list li a {
	color: #1b75d5;
	text-decoration: none;
}

.post {
	margin: 50px 0;
}

.post h1, .post h2 a {
	color: #1b75d5;
	text-decoration: none;
	font-size: 1.5em;
}

.post-date {
	color: #999;
	padding: 5px 0;
}

.post ul {
	margin: 25px 0;
	padding: 0 0 0 20px;
}

.post li {
	padding: 4px;
	list-style: disc;
}

#app-menu {
	display: none;
	position: absolute;
	top: 0;
	right: 10px;
	width: 40px;
	height: 40px;
	background: url(../images/app-menu.svg) no-repeat 100% 50%;
	z-index: 9999;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	#app-menu, #sidebar h3 {
		display: block;
	}

	#sidebar {
		display: none;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		background-color: #b4ceeb;
		z-index: 100;
	}

	#sidebar #releases-cat {
		margin-top: 50px;
		text-align: center;
		text-transform: uppercase;
		background-color: transparent;
		color: #1b75d5;
		font-size: 1em;
	}

	.category-list {
		width: 100%;
		padding: 0;
	}

	.category-list li {
		text-align: center;
		margin: 10px 0;
	}

	.category-list li a {
		font-size: 2em;
		display: block;
		padding: 20px 0;
		background-color: #1b75d5;
		color: #fff;
	}

	#posts {
		margin-left: 0;
		clear: both;
		padding: 0 15px 0 15px;
	}

	.post h2 a {
		font-size: 1.6em;
	}

	.post p {
		line-height: 2em;
		margin: 14px 0;
	}
}