#sidebar {
	width: 200px;
	float: left;
}

#posts {
	margin-left: 300px;
	box-sizing: border-box;
}

#sidebar h3 {
	background-color: #73a5da;
	padding: 10px;
	margin: 0 0 8px 0;
	color: #fff;
}

.category-list li {
	padding: 6px;
	margin: 0 0 0 14px;
}

.post {
	margin: 50px 0;
}

.post h2 a {
	color: #1b75d5;
	text-decoration: none;
	font-size: 1.5em;
}

.post-date {
	color: #999;
	padding: 5px 0;
}

.post ul {
	margin: 25px 0;
	padding: 0 0 0 50px;
}

.post li {
	padding: 4px;
	list-style: disc;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	#sidebar {
		float: none;
		width: 100%;
	}

	#posts {
		margin-left: 0;
	}
}