<!doctype html>
<html>
    <head>
    	{% include meta.html %}
        <title>{{page.title}}</title>
		<link rel="stylesheet" href="{{site.url}}/css/base.css">
        <link rel="stylesheet" href="{{site.url}}/css/syntax.css">
		<link rel="stylesheet" href="{{site.url}}/css/release.css?v2">
	  	<style>
		
		</style>
	</head>
	<body class="api-home">
		<div id="app-menu"></div>
		{% include header.html %}		

		<div id="main-content">
			<div id="page-full">
				{{content}}
			</div>
		</div>
	</body>
</html>
