<!doctype html>
<html>
    <head>
    	{% include meta.html %}
        <title>{{page.title}}</title>
	    <link rel="stylesheet" href="{{site.url}}/css/base.css">
        <link rel="stylesheet" href="{{site.url}}/css/syntax.css">
	    <link rel="stylesheet" href="{{site.url}}/css/release.css?v2">
	    <style>
		    table {
                width: 100%;
            }
            
            .term {
                text-decoration: underline;
            }
            
            .red {
                background-color: red;
                text-transform: uppercase;
            }
            
            .green {
                background-color: green;
                text-transform: uppercase;
            }            
	    </style>
    </head>
	<body class="api-home">
		<div id="app-menu"></div>
		    {% include header.html %}		

		    <div id="main-content">
		    <div id="page-full">
		        {{content}}
		    </div>
		</div>
	</body>
</html>
